version: '3.4'

services:
  proxy:
    build:
      context: .
      dockerfile: .ci/Dockerfile
      target: static_server
    ports:
      - 8080:80

  migrations:
    build:
      context: .
      dockerfile: .ci/Dockerfile
      target: migrations_manager
    environment:
      - variant=migrations

  celery:
    build:
      context: .
      dockerfile: .ci/Dockerfile
      target: django_base
    environment:
      - variant=celery-worker

  django:
    build:
      context: .
      dockerfile: .ci/Dockerfile
      target: django_base
    environment:
      - variant=django

  cache:
    image: redis

  database:
    image: postgres
    # environment:
    #   - POSTGRES_DB=django
    #   - POSTGRES_USER=django
