version: '3.4'

# You might have to first update the requirements.txt by using
# pipenv lock -r > requirements.txt

services:
  proxy:
    build:
      context: .
      dockerfile: .ci/Dockerfile
      target: static_server
    ports:
      - 80:80
      - 443:443

  migrations:
    build:
      context: .
      dockerfile: .ci/Dockerfile
      target: migrations_manager
    env_file:
      - .env
    environment:
      - variant=migrations

  celery:
    build:
      context: .
      dockerfile: .ci/Dockerfile
      target: django_base
    env_file:
      - .env
    environment:
      - variant=celery-worker

  django:
    build:
      context: .
      dockerfile: .ci/Dockerfile
      target: django_base
    env_file:
      - .env
    environment:
      - variant=django

  cache:
    image: redis
    volumes:
      - type: bind
        source: ./redis
        target: /data

  database:
    image: postgres
    env_file:
      - .env
    volumes:
      - type: bind
        source: ./pgdata
        target: /var/lib/postgresql/data

    # environment:
    #   - POSTGRES_DB=django
    #   - POSTGRES_USER=django
