[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
django-celery-results = "*"
requests = "*"
redis = "*"
"psycopg2-binary" = "*"
lxml = "*"
cssselect = "*"
social-auth-app-django = "*"
django-filter = "*"
djangorestframework = "*"
markdown = "*"
django-cors-headers = "*"
gunicorn = "*"
django-redis-cache = "*"

[dev-packages]
pycodestyle = "*"
httmock = "*"
pyyaml = "*"
coverage = "*"
python-language-server = {extras = ["all"]}
django-coverage-plugin = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
