[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
django-celery-results = "*"
requests = "*"
redis = "*"
"psycopg2-binary" = "*"
lxml = "*"
tomd = "*"
cssselect = "*"

[dev-packages]
pycodestyle = "*"
httmock = "*"
pyyaml = "*"
coverage = "*"
python-language-server = {extras = ["all"]}
django-coverage-plugin = "*"

[requires]
python_version = "3.6"
