-i https://pypi.org/simple
amqp==2.3.2
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
cssselect==1.0.3
cymem==2.0.2
cytoolz==0.9.0.1
defusedxml==0.5.0; python_version >= '3.0'
dill==0.2.8.2
django-celery-results==1.0.4
django-cors-headers==2.4.0
django-filter==2.0.0
django-redis-cache==1.8.1
django==2.1.5
djangorestframework==3.9.0
gunicorn==19.9.0
idna==2.8
kombu==4.2.2.post1
lxml==4.3.0
markdown==3.0.1
msgpack-numpy==0.4.3.2
msgpack==0.5.6
murmurhash==1.0.1
numpy==1.15.4
oauthlib==2.1.0
plac==0.9.6
preshed==2.0.1
psycopg2-binary==2.7.6.1
pyjwt==1.7.1
python3-openid==3.1.0; python_version >= '3.0'
pytz==2018.7
redis==2.10.6
regex==2018.1.10
requests-oauthlib==1.0.0
requests==2.21.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==2.0.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
tqdm==4.28.1
ujson==1.35
urllib3==1.24.1
vine==1.2.0
wrapt==1.10.11
