{% extends "base.html" %}
{% block title %}
Profile: {{ request.user.username }}
{% endblock %}
{% block content %}
<div class="container">
  <br />
  <form class="" action="{% url "profiles:profile" %}" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>

    <input type="submit" value="save" />
  </form>

  <hr />

  <h4>Login Token</h4>
  <p>
    The following url can be used to skip authentication entirely if the access token has been enabled.
    <br />
    Just bookmark the link to login.
  </p>
  <a href="{% url 'login' %}?login_token={{ user.username }}:{{ user.login_token }}">
    <div class="primary-text">
      {{ user.username }}:{{ user.login_token }}
    </div>
  </a>
  <hr />
  <h4>Internal Links</h4>
  <p>
    enabling this option will replace the origin Links with internally served ones.
    <br />
    The chapter content won't be up to date and no comments are visible.
  </p>
  <hr />
  <h4>Color Theme</h4>
  <p>
    currently, all free <a href="https://bootswatch.com/" title="visit bootswatch themes preview">bootswatch themes</a> are available.
    <br />
    you may choose any you'd like, though they'll probably look quite strange as i've created this with darkly
  </p>

  <hr />
  <h4>Bulk add Novels to the watching list</h4>
  <p>
    If you'd like to add lots of novels to your watching list, you can provide me with a list... one URL per line
    of URLs
    <br />
    <a ic-replace-target=true href="#" title="get the bulk watch input field" ic-get-from="{% url 'profiles:bulk-watch-component' %}">click here for input field</a>
  </p>
  <ul>
    {% for job in user.bulkwatchjob_set.all %}
    <li><a href="{{ job.get_absolute_url }}">bulk add job number {{ job.id }}</a>
    {% endfor %}
  </ul>
</div>

{% endblock %}
