{% extends "base.html" %}
{% load static %}
{% block title %}{{chapter.fiction.title }}: {{ chapter.title }}{% endblock %}
{% block content %}
<h6 class="text-center pt-1">{{ chapter.fiction.title }} by {{ chapter.fiction.author }}</h6>
<h2 class="text-center">{{ chapter.title }}</h2>
<p class="text-muted text-center">last fetch: <time title="time of the last fetch">{{ chapter.updated }}</time></p>
<aside class="d-flex justify-content-center text-center">
    <span title="refetch the chapter"
          id="requeue-component"
          ic-replace-target="true"
          ic-src="{% url "scrapes:requeue-chapter" chapter_id=chapter.id %}"
          ic-trigger-on="load"></span>
    <button class="btn btn-light" title="increase Text size" onclick="resizeText(true)">
        increase
    </button>
    <button class="btn btn-light" title="increase Text size" onclick="resizeText(false)">
       decrease
    </button>

</aside>

<hr />

<div id="chapter-content" class="pl-3 pr-3">
  {{ chapter.content|safe  }}
</div>

<script>
    try {
        var fontSize = parseInt(Cookies.get("font-size"));
        if (isNaN(fontSize.isNaN)){
            fontSize = 100;
        }
    } catch (e) { var fontSize = 100; }
    document.getElementById("chapter-content").style.fontSize = fontSize + '%';
    function resizeText (bigger) {
        if (bigger === true) {
            step = 1;
        } else {
            step = -1;
        }
        fontSize = fontSize * Math.pow(1.2, step);

        document.getElementById("chapter-content").style.fontSize = fontSize + '%';
        Cookies.set('font-size', fontSize);
    };
</script>
{% endblock %}
