{% extends "base.html" %}
{% load values %}
{% load divide %}

{% block content %}
<h1 class="display-4 novel-title text-center">{{ novel.title }}</h1>
{% if novel.author %}
    <p class="lead text-center">a novel by <span class="novel-author">{{ novel.author }}</span></p>
{% endif %}
<div class="d-flex justify-content-center">
  <span title="watch the novel"
        id="watch-component"
        ic-replace-target="true"
        ic-src="{% url "novels:watch-component" novel_id=novel.id %}"
        ic-trigger-on="load"></span>
  <span title="refetch the novel"
        id="requeue-component"
        ic-replace-target="true"
        ic-src="{% url "scrapes:requeue-novel" novel_id=novel.id %}"
        ic-trigger-on="load"></span>
    <button class="btn btn-light"
            title="jump to last read chapter"
            onclick="document.getElementById('chapter-{{ last_read_chapter.id }}').scrollIntoView(false)"
    >continue</button>
</div>
<ul class="list-group">
  {% for chapter in novel.chapter_set.all reversed %}
  <li id="chapter-{{ chapter.id }}" class="list-group-item row">
        <time title="time of publishing or discovered timestamp"
              class="col-sm-12 col-md-3 col-lg-2 col-xl-2 badge badge-primary chapter-published">
            {% firstof chapter.published chapter.discovered %}
        </time>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 lead d-flex justify-content-between">
            <a
              {% if user.is_authenticated and user.internal_links %}
                href="{% url "novels:chapter" chapter_id=chapter.id %}"
              {% else %}
                href="{{ chapter.url }}"
              {% endif %}
              title="open {{ chapter.title }} from {{ novel.title }}">
              <span class="chapter-title">{{ chapter.title }}</span>
            </a>
            <span>
                {% with progress=chapter.progress|divide:chapter.total_progress|percent %}
                    {% if progress == "100 %" %}
                        <i title="finished reading on {{ chapter.timestamp }}" class="fa-check fa"></i>
                    {% elif progress != "" %}
                        <span title="you read {{ progress }} on {{ chapter.timestamp }}"  class="read-progress">{{ progress }}</span>
                    {% else %}
                        <span class="read-progress"></span>
                {% endif %}
                {% endwith %}
                {% with highlights=chapter.highlight_set.all %}
                    {% if highlights|length > 0 %}
                        <a class="popover-dismiss"
                           role="button"
                           tabindex="0"
                           data-toggle="popover"
                           data-trigger="focus"
                           data-content="{{  highlights|random }}">
                            <i class="fa fa-comment" title="a random highlight from the chapter as a popover"></i>
                        </a>
                    {% endif %}
                {% endwith %}
            </span>
        </div>
  </li>
  {% endfor %}
</ul>
    <script>
    $('.popover-dismiss').popover({
  trigger: 'focus'
})
    </script>
{% endblock %}
