{% extends "base.html" %}
{% load values %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ novel.title }}</h1>
    <div class="row">
      {% if user.is_authenticated and user.internal_links %}
      <div title="watch the novel"   class="col" id="watch-component"   ic-src="{% url "novels:watch-component" novel_id=novel.id %}" ic-trigger-on="load"></div>
      <div title="refetch the novel" class="col" id="requeue-component" ic-src="{% url "scrapes:requeue-novel" novel_id=novel.id %}"  ic-trigger-on="load"></div>
      {% endif %}
    </div>
    {% if novel.author %}
      <p class="lead">a novel by {{ novel.author }}</p>
    {% endif %}
    <ul class="list-group">
      {% for chapter in novel.chapter_set.all|values:"id title published discovered url" %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {% if user.is_authenticated and user.internal_links %}
          <a class="container-fluid" href="{% url "novels:chapter" chapter_id=chapter.id %}">{{ chapter.title }}</a>
        {% else %}
          <a class="container-fluid" href="{{ chapter.url }}">{{ chapter.title }}</a>
        {% endif %}
          <span class="badge badge-primary badge-pill">{% firstof chapter.published chapter.discovered %}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
