<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "novels:novels" %}">Novels</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url "novels:novels" %}?watching=true">Watching</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{ url "profiles:profile" }">Profile</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          System
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url "scrapes:queue" %}">Queue</a>
          <a class="dropdown-item" href="{% url "scrapes:history" %}">History</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url "scrapes:log" %}">Log</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <input ic-replace-target=true ic-src="{% url "novels:search" %}" ic-trigger-on="scrolled-into-view">
  </div>
</nav>
