{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <a class="col text-center" onclick="setGetParam('populated', true);" title="show only novels with parsed chapters">
      {% if request.GET.populated %}
        <div class="hero bg-light pb-2">populated</div>
      {% else %}
        <div class="hero pb-2">populated</div>
      {% endif %}
    </a>
    <a class="col text-center" onclick="setGetParam('populated');" title="show all novels">
      {% if request.GET.populated %}
        <div class="hero pb-2">all</div>
      {% else %}
        <div class="hero bg-light pb-2">all</div>
      {% endif %}
    </a>
  </div>
  <ul class="list-group">
    {% for novel in novels %}
      <li class="list-group-item">
        <a href="{% url "novels:novel" novel_id=novel.id %}" class="d-flex justify-content-between align-items-center">
          {{ novel.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% with object=novels paginate_id="paginate1" %}
{% include "pagination.html" %}
{% endwith %}
{% endblock %}
