{% extends "base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead></thead>
    <tbody>
        <tr>
            <td>unresolved provided URLS</td>
            <td>{{ unresolved_provided_urls|length }}</td>
        </tr>
        <tr>
            <td>failed fetches</td>
            <td>{{ failed_fetches|length }}</td>
        </tr>
        <tr>
            <td>failed parses</td>
            <td>{{ failed_parses|length }}</td>
        </tr>
        <tr>
            <td>delete parse log for</td>
            <td>
                <ul>
                    {% for parser in parsers %}
                        <button class="btn btn-danger" onclick="delete_last_parses({{ parser.id }})" title="this will delete about {{ parser.parses }} parse attempts">{{ parser.name }}</button>
                    {% endfor %}
                </ul>
            </td>
        </tr>

        <tr>
            <td>fictions without source</td>
            <td>{{ sourceless_fictions|length }}</td>
        </tr>
        <tr>
            <td>chapters without highlights</td>
            <td>{{ unprocessed_highlights }}</td>
        </tr>
    </tbody>
</table>


<script>

function delete_last_parses(parser_id) {
    const request = {
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
        url: '/api/parser/' + parser_id + '/delete_parses/',
        type: 'POST',
        data: JSON.stringify({}),
        success: function(){
            console.log('submitted deletion for ' + parser_id);
        },
        error: function (jqXhr, textStatus, errorThrown) {
            console.log('failed to submit deletion');
            return errorThrown;
        }
    };
    $.ajax(request);
}
</script>
{% endblock %}